<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Cars - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>
<body class="d-flex flex-column justify-content-between">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand h2 mb-0" href="./">Best Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'djangoapp:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white-50" href="{% url 'djangoapp:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white-50" href="{% url 'djangoapp:contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'djangoapp:logout' %}">
                        {% csrf_token %}
                        <a class="btn btn-link text-light" href="#">{{ user.first_name }} ({{ user.username }})</a>
                        <button type="submit" class="btn btn-link text-dark" href="#">Logout</button>
                    </form>
                </li>
                {% else %}
                <form method="post" action="{% url 'djangoapp:login' %}" class="d-flex text-light align-items-center">
                    {% csrf_token %}
                    <input class="mr-3" type="text" name="username">
                    <input class="mr-3" type="password" name="pwd">
                    <button type="submit" class="login-btn mr-2">Log in</button>
                    <a class="sign-up-btn" href="./registration.html">Sign up</a>
                </form>
                {% endif %}
            </ul>
        </div>
    </nav>
<!--Add a dealer table here -->

    <footer class="d-flex justify-content-between">
        <div class="d-flex">
            <h6 class="mb-0 text-center text-light mr-3 text-light">Follow Us </h6>
            <a href="#" class="p-0">
                <img class="mr-3" width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/132px-Instagram_logo_2016.svg.png?20210403190622">
            </a>
            <a href="#" class="p-0">
                <img width="24px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/512px-Twitter-logo.svg.png?20220821125553">
            </a>
        </div>
        <h6 class="mb-0 text-light">
            <a href="contact.html">Contact Page</a>
        </h6>
    </footer>
</body>

</html>
