<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Cars - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body class="d-flex flex-column justify-content-between">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand h2 mb-0" href="./">Best Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link text-white-50" href="{% url 'djangoapp:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white-50" href="{% url 'djangoapp:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white-50" href="{% url 'djangoapp:contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link text-light pl-0" href="#">{{ user.first_name }} ({{ user.username }})</a>
                    <a class="btn btn-link text-dark" href="#">Logout</a>
                </li>
                {% else %}
                <a class="sign-up-btn" href="{% url 'djangoapp:registration' %}">Sign up</a>                </form>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="mx-4 d-flex flex-column align-items-center">
        <h1 class="mb-5">Login</h1>
        {% if login_error %}
        <p class="alert alert-danger">{{ login_error }}</p>
        {% endif %}
        <form class="d-flex flex-column justify-content-center" method="post" action="{% url 'djangoapp:login' %}">
            {% csrf_token %}
            <label class="text-center" for="username">Username</label>
            <input class="mb-4" type="text" name="username">
            <label class="text-center" for="pwd">Password</label>
            <input class="mb-4" type="password" name="pwd">
            <button class="login-btn">Sign in</button>
        </form>
    </div>

    <footer class="d-flex justify-content-between">
        <div class="d-flex">
            <h6 class="mb-0 text-center text-light mr-3 text-light">Follow Us </h6>
            <a href="#" class="p-0">
                <img class="mr-3" width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/132px-Instagram_logo_2016.svg.png?20210403190622">
            </a>
            <a href="#" class="p-0">
                <img width="24px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/512px-Twitter-logo.svg.png?20220821125553">
            </a>
        </div>
        <h6 class="mb-0 text-light">
            <a href="{% url 'djangoapp:contact' %}">Contact Page</a>
        </h6>
    </footer>
</body>
</html>